# Copyright (C) 2021 XXCoreRangerX <mail@xxcore.pl>
#
# Project:    Astro Atom UI
# Repository: https://github.com/xxcorerangerx/astro-atom-ui
# License:    MIT

# +---------+
# + Scripts +
# +---------+
git.sh
